/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.text-conversation {
    background-color: rgb(185, 188, 189, .2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.text-small {
	font-size: small;
}

.text-blue {
	color: #00b2ef;
}

.info-bid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: rgba(0, 152, 240, 0.15);
	color: #053646;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #00b2ef;
	font-size: small;
}

.text-sm {
	font-size: small;
}

.entry-image-container-small {
	padding: 2px;
	border: 1px solid #053646;
	border-radius: 4px;
	width: 130px;
	height: 130px;
	overflow: hidden;
}

.entry-image-container-small img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.entry-image-container {
	padding: 2px;
	border: 1px solid #053646;
	border-radius: 4px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.entry-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.preview-screenshot {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.preview-screenshot img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.preview-screenshot-container {
	position: relative;
	height: 100%;
}

.card-screenshot {
	height: 100px;
}

.delete-screenshot {
	display: flex;
    position: absolute;
    /* padding: 4px; */
    width: 24px;
    height: 24px;
    background-color: rgba(240, 248, 255, 0.574);
    border-radius: 100%;
    right: 6px;
    top: 5px;
    justify-content: center;
    align-items: center;
}

.delete-screenshot:hover {
	opacity: .75;
	transition-duration: 350ms;
}

.borderless {
	border: none;
}

.progress {
	width: 100%;
	height: 15px;
}

.container-card-user {
	width: 38%;
}

.card-user {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: flex-end;
	gap: 5px;
	padding: 1em;
	border-radius: 1em;
	background: rgb(33,57,116);
	background: linear-gradient(55deg, rgba(33,57,116,1) 0%,  rgba(101,201,246,0.7) 100%);
	width: 90%;
	height: 180px;
	top: 10px;
}

.info-credit {
	display: flex;
	justify-content: flex-end;
	gap: 0.8em;
	flex-direction: column;
	width: 100%;
	height: 350px;
	border-radius: 1em;
	padding: 16px 25px;
	background-color: rgba(207, 210, 210, 0.51);
	margin-top: 3em;
}

.card-container {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.divide-vertical {
	width: 2px;
    background-color: rgb(152 149 149 / 26%);
    margin-top: 10px;
}

.text-heading-color {
	color: #6b6e70;
}

.tab-nav-custom {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    padding: 0 15px;
}

.tabs-alt .tab-nav li.ui-tabs-active a {
	border: 1px solid #DDD;
	background-color: #DDD;
    border-bottom: 0;
}

.character-referals {
	position: absolute;
	z-index: -10;
}

.info-referal-user {
	width: 66.66666667%;
	padding: 1em 3em;
    background-color: aliceblue;
    margin-left: 7.6em;
}